.has-error .help-block {
    color:red;
    font-weight: bold;
}
div.has-error {
    background-color: rgba(255, 0, 0, 0.3);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}
.alert .close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
.alert h4 {
    margin-top: 0;
    color: inherit;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.owl-item div.item.text{
    font-size: 16px;
    background-color: white;
    padding: 72px;
}
.owl-item div.item.text p{
    text-indent: 50px;
    padding-bottom: 5px;
    line-height: 1.2;
}
.owl-item div.item.text p strong{
    font-weight: 900;
    letter-spacing: 4px;
}
.owl-item div.item.text h1 {
    font-size: 25px;
    font-variant: all-small-caps;
    text-transform: uppercase;
    font-weight: 500;
    color:deepskyblue;
    padding-bottom: 14px;
}
.owl-item div.item.text h2 strong {
    font-weight: 900;
    font-size: 35px;
}
.owl-item div.item.text h2 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 300;
    color:#bc2925;
    line-height: 1.4;
}
.owl-item div.item.text h3 {
    color:deepskyblue;
    font-size: 25px;
    text-transform: uppercase;
    padding-top: 25px;
    padding-bottom: 15px;

}
.owl-item div.item.text h4 {
    color:#bc2925;
    font-size: 18px;
    text-transform: uppercase;
    padding-top: 25px;
    padding-bottom: 15px;
    font-weight: 900;
    letter-spacing: 4px;
}
.owl-item div.item.text table td {
    padding: 5px;
    border: 1px solid lightsteelblue;
}
.owl-item div.item.text blockquote em {
    color:#bc2925;
}
.owl-item div.item.text blockquote {
    display:inline-block;
    position: relative;
    right: 0;
    float: right;
    width: 220px;
    margin: 0 0 5px 25px;
    font-size: 20px;
    letter-spacing: 2px;

}
.owl-item img {
    transform-style: flat !important;
}


.slider-five .redOption,
.redOption {
    background-color: #ff8e77;
}
.redOption:hover {
    background-color: #bb2000;
}
.slider__item-title_red:before,
.slider-five_learn_red .slider__item-image:after {
    box-shadow: #ff8e77 0 0px 200px 100px;
}
.dropdown-tab_red .dropdown-tab__link {
    background: #ff8e77;
}
.dropdown-tab_red .dropdown-tab__link:hover {
    background: #bb2000;
}
.dropdown-tab_red .owl-prev,
.dropdown-tab_red .owl-next {
    background: #ff8e77;
}


.slider-five .greenOption,
.greenOption {
    background-color: #3ed686; /*44D62C*/
}
.greenOption:hover {
    background-color: green;
}
.slider__item-title_green:before,
.slider-five_learn_green .slider__item-image:after {
    box-shadow: #3ed686 0 0px 200px 100px;
}
.dropdown-tab_green .dropdown-tab__link {
    background: #3ed686;
}
.dropdown-tab_green .dropdown-tab__link:hover {
    background: green;
}
.dropdown-tab_green .owl-prev,
.dropdown-tab_green .owl-next {
    background: #3ed686;
}


.slider-five .blueOption,
.blueOption {
    background-color: #1acafd;
}
.blueOption:hover {
    background-color: #016b8a;
}
.slider__item-title_blue:before,
.slider-five_learn_blue .slider__item-image:after {
    box-shadow: #1acafd 0 0px 200px 100px;
}
.dropdown-tab_blue .dropdown-tab__link {
    background: #1acafd;
}
.dropdown-tab_blue .dropdown-tab__link:hover {
    background: #016b8a;
}
.dropdown-tab_blue .owl-prev,
.dropdown-tab_blue .owl-next {
    background: #1acafd;
}

.slider-five .purpleOption,
.purpleOption {
    background-color: #6f62d7;
}
.purpleOption:hover {
    background-color: #2a207d;
}
.slider__item-title_purple:before,
.slider-five_learn_purple .slider__item-image:after {
    box-shadow: #6f62d7 0 0px 200px 100px;
}
.dropdown-tab_purple .dropdown-tab__link {
    background: #6f62d7;
}
.dropdown-tab_purple .dropdown-tab__link:hover {
    background: #2a207d;
}
.dropdown-tab_purple .owl-prev,
.dropdown-tab_purple .owl-next {
    background: #6f62d7;
}


.slider-five .orangeOption,
.orangeOption {
    background-color: orange;
}
.orangeOption:hover {
    background-color: #d9534f;
}
.slider__item-title_orange:before,
.slider-five_learn_orange .slider__item-image:after {
    box-shadow: orange 0 0px 200px 100px;
}
.dropdown-tab_orange .dropdown-tab__link {
    background: orange;
}
.dropdown-tab_orange .dropdown-tab__link:hover {
    background: #d9534f;
}
.dropdown-tab_orange .owl-prev,
.dropdown-tab_orange .owl-next {
    background: orange;
}


.slider-five .yellowOption,
.yellowOption {
    background-color: #F5FFB5;
}
.yellowOption:hover {
    background-color: #F3DB6B; /*#93C54B;*/
}
.slider__item-title_yellow:before,
.slider-five_learn_yellow .slider__item-image:after {
    box-shadow: #F5FFB5 0 0px 200px 100px;
}
.dropdown-tab_yellow .dropdown-tab__link {
    background: #F5FFB5;
}
.dropdown-tab_yellow .dropdown-tab__link:hover {
    background: #F3DB6B;
}
.dropdown-tab_yellow .owl-prev,
.dropdown-tab_yellow .owl-next {
    background: #F5FFB5;
}

.slider-five .oliveOption,
.oliveOption {
    background-color: #63a69f;
}
.oliveOption:hover {
    background-color: #808000; /*#93C54B;*/
}
.slider__item-title_olive:before,
.slider-five_learn_olive .slider__item-image:after {
    box-shadow: #63a69f 0 0px 200px 100px;
}
.dropdown-tab_olive .dropdown-tab__link {
    background: #63a69f;
}
.dropdown-tab_olive .dropdown-tab__link:hover {
    background: #808000;
}
.dropdown-tab_olive .owl-prev,
.dropdown-tab_olive .owl-next {
    background: #63a69f;
}

.slider-five_learn_red .slider__item-span:before,
.slider-five_learn_green .slider__item-span:before,
.slider-five_learn_blue .slider__item-span:before,
.slider-five_learn_purple .slider__item-span:before,
.slider-five_learn_orange .slider__item-span:before,
.slider-five_learn_yellow .slider__item-span:before,
.slider-five_learn_olive .slider__item-span:before
{
    background-image: url("../img/sprite.png");
    background-position: -285px -185px;
    width: 40px;
    height: 53px;
}


.js-comics-close.mobile {
    display: none;
    background-position: -105px -491px;
    background-size: 608px;
    z-index: 1000;
}

.read-task__title.mobile, .read-task__dop-title.mobile {
    display: none;
}

.read-comics.mobile {
    padding: 0 1px;
    margin: 1px auto;
}




.radio {
    vertical-align: top;
    width: 17px;
    height: 17px;
    margin: 0 3px 0 0;
}
.radio + label {
    cursor: pointer;
}
.radio:not(checked) {
    position: absolute;
    opacity: 0;
}
.radio:not(checked) + label {
    position: relative;
    padding: 0 0 0 35px;
}
.radio:not(checked) + label:before {
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: 22px;
    height: 22px;
    border: 2px solid #d2d8da;
    border-radius: 50%;
    background: #FFF;
}
.radio:not(checked) + label:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 3px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #3ed686;
    box-shadow: inset 0 2px 2px rgba(0,255,255,.5);
    opacity: 0;
    transition: all .42s;
}
.radio:checked + label:after {
    opacity: 1;
}
.radio:focus + label:before {
    box-shadow: 0 0 0 1px rgba(62,214,134,.5);
}