@font-face {
    font-family: 'muller_regular';
    src: url('muller-regular.eot');
    src: url('muller-regular.eot?#iefix') format('embedded-opentype'),
         url('muller-regular.woff2') format('woff2'),
         url('muller-regular.woff') format('woff'),
         url('muller-regular.ttf') format('truetype'),
         url('muller-regular.svg#muller_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'muller-bold';
    src: url('muller-bold.eot');
    src: url('muller-bold.eot?#iefix') format('embedded-opentype'),
         url('muller-bold.woff2') format('woff2'),
         url('muller-bold.woff') format('woff'),
         url('muller-bold.ttf') format('truetype'),
         url('muller-bold.svg#mullerbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'muller-light';
    src: url('muller-light.eot');
    src: url('muller-light.eot?#iefix') format('embedded-opentype'),
         url('muller-light.woff2') format('woff2'),
         url('muller-light.woff') format('woff'),
         url('muller-light.ttf') format('truetype'),
         url('muller-light.svg#mullerlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'muller-medium';
    src: url('muller-medium.eot');
    src: url('muller-medium.eot?#iefix') format('embedded-opentype'),
         url('muller-medium.woff2') format('woff2'),
         url('muller-medium.woff') format('woff'),
         url('muller-medium.ttf') format('truetype'),
         url('muller-medium.svg#mullermedium') format('svg');
    font-weight: normal;
    font-style: normal;
}